.btn {
	display: block;
	min-width: calc(6ch + 0.5em);
	padding-inline: 0.5em;
	padding-block: 0.25em;
	border: 1px solid var(--prayup-red);
	border-radius: var(--border-radius);
	background-color: inherit;
	color: var(--prayup-red);
	font-family: gothambold;
	text-align: center;
	text-decoration: none;
}
