.btn {
	padding: 0.5em;
	border: 1px solid var(--prayup-red);
	border-radius: var(--border-radius);
	color: var(--prayup-red);
	font-family: gothambold;
	background-color: transparent;

	& > a {
		color: inherit;
		text-decoration: none;
	}
}
