.after-hr {
	position: relative;

	&::after {
		display: block;
		position: absolute;
		top: 60%;
		right: 0;
		width: calc(100% - 5rem);
		height: 1px;
		background-color: var(--prayup-red);
		content: ' ';
	}
}
