@use '../utilities/breakpoint' as *;

.event-ul {
	li {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;

		@media (min-width: $lg) {
			flex-direction: row;
			width: 50%;
		}
	}

	a {
		width: 100%;
		@media (min-width: $md) {
			width: 50%;
		}
	}

	img {
		width: 100%;
		border-radius: var(--border-radius);
	}

	p {
		// width: 6.5rem;
		margin-top: 0.5rem;
		font-size: 0.8rem;
		text-align: center;

		@media (min-width: $md) {
			font-size: 1.3rem;
		}

		@media (min-width: $lg) {
			font-size: 1.5rem;
		}
	}
}
