@use '../abstracts/breakpoint' as *;

.event-ul {
	a {
		width: 100%;

		@media (min-width: $md) {
			width: 60%;
		}

		@media (min-width: $xl) {
			width: 50%;
		}
	}

	img {
		width: 100%;
		border-radius: var(--border-radius);
	}

	p {
		margin-top: 0.5rem;
		font-size: 0.8rem;
		text-align: center;

		@media (min-width: $lg) {
			font-size: 1.5rem;
		}
	}
}
