@use '../abstracts/breakpoint' as *;

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	// place-items: center;
	gap: var(--gap);
}

.grid-b {
	place-items: end;
}

.grid-md {
	@media (min-width: $md) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: stretch;
		gap: var(--gap);
	}
}

.grid-md-list {
	@media (min-width: $md) {
		--gap: 2rem;
		li {
			--gap: 1.5rem;
			display: flex;
			align-items: center;
			width: 100%;
			gap: var(--gap);

			& > * {
				flex: none;
			}
		}
	}
}
