@use '../abstracts/breakpoint' as *;

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--gap);
}

.grid-md {
	@media (min-width: $md) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.grid-end {
	place-items: end;
}

.grid-dual-md {
	@media (min-width: $md) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: stretch;
		gap: var(--gap);
	}
}

.grid-list {
	@media (min-width: $md) {
		--gap: 2rem;
		li {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: var(--gap);
		}
	}
	@media (min-width: $xl) {
		li {
			flex-direction: row;
		}
	}
}
