@use '../abstracts/breakpoint' as *;

.hero-home {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
	touch-action: none;

	& img {
		width: 80%;

		@media (min-width: $md) {
			width: 50%;
		}
	}
}

.hero-home {
	animation-duration: 2s;
	animation-delay: 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
	animation-name: hero-header;
}


@media (max-width: $md) {
	@keyframes hero-header {
		from {
			height: 100vh;
		}
		to {
			height: 35vh;
		}
	}
}

@media (max-width: $lg) {
	@keyframes hero-header {
		from {
			height: 100vh;
		}
		to {
			height: 50vh;
		}
	}
}
