@use '../base/border' as *;
@use '../abstracts/breakpoint' as *;

.us-ul {
	place-items: center;
	img {
		@extend .border;
		width: 100%;
	}

	h4 {
		max-width: 100%;
		font-size: clamp(1rem, 2vw, 1.5rem);
	}

	p {
		font-size: clamp(0.8rem, 1.5vw, 1.25rem);
	}

	@media (min-width: $lg) {
		li {
			width: 60%;
		}
	}

	@media (min-width: $xl) {
		place-items: start;
		li {
			width: 50%;
		}
	}
}
