@use '../base/border' as *;
@use '../abstracts/breakpoint' as *;

.us-ul {
	justify-items: center;

	@media (min-width: $md) {
		justify-items: start;
	}
	li {
		width: 100%;

		@media (min-width: $md) {
			width: 50%;
		}
	}

	h4 {
		max-width: 100%;
		font-size: clamp(1rem, 2vw, 2rem);
	}

	p {
		font-size: clamp(0.8rem, 1.5vw, 1.5rem);

		@media (min-width: $md) {
			// font-size: 1rem;
		}
	}

	img {
		@extend .border;
		width: 100%;

		@media (min-width: $lg) {
			width: 50%;
		}
	}
}
