@use '../abstracts/breakpoint' as *;
@use '../base/border' as *;

.grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	row-gap: 2rem;
	gap: var(--gap);

	@media (min-width: $md) {
		grid-template-columns: repeat(3, 1fr);
	}
}

.grid-end {
	place-items: end;
}

.grid-dual-md {
	@media (min-width: $md) {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-items: stretch;
		gap: var(--gap);
	}
}

.grid-list {
	li {
		display: flex;
		flex-direction: column;
		gap: 0.25rem;
		text-align: center;

		@media (min-width: $md) {
			flex-direction: row;
			align-items: center;
			gap: var(--gap);
		}

		& > img,
		& > a {
			@media (min-width: $md) {
				max-width: 60%;
			}

			@media (min-width: $xl) {
				max-width: 50%;
			}
		}

		& > a {
			@media (min-width: $md) {
				align-items: center;
			}

			img {
				border-radius: var(--border-radius);
			}
		}

		h4 {
			font-size: clamp(1rem, 2vw, 1.5rem);
			@media (min-width: $md) {
				text-align: left;
			}
		}

		p {
			font-size: clamp(0.8rem, 1.5vw, 1.25rem);

			@media (min-width: $md) {
				text-align: left;
			}
		}
	}
}

.grid-three-fourths {
	@media (min-width: $xl) {
		display: grid;
		grid-template-columns: 3fr 1fr;
		gap: 2rem;
	}
}
