h1 {
	margin-bottom: .3em;
}

h3 {
	color: var(--prayup-red);
	padding-block: 1em;
	/* font-size: clamp(.5em, .5em + 1vw, 7em ) */
}

section {
	border-radius: 6pt;
	border: 1px solid var(--prayup-red);
	padding: 3vh;

}

footer {
	margin-top: 3vh;
}

#parking-list {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

#parking-list-p {
	margin-inline: 1vw;
	margin-block: 3vh;
	max-width: 100%;
}

.parking {
	width: 100%;
	flex-basis: 20vw;
	flex-grow: 1;
	flex-shrink: 1;
	margin-inline: 1vw;
}

.parking-image, .worship-info-map {
	border-radius: 6pt;
	max-width: 100%;
	}

@media screen and (min-width: 800px) {
	#parking-list {
		flex-direction: row;
		flex-wrap: wrap;
	}

.parking-image {
	}

}